body{
    background-size: cover;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.btn{
    border-radius: 3px;
    margin-left: 2px;
}

.div_image{
    width: 95vw;
    height: 95vh;
}