#div_b{
    background-color: #fff;
    height: 500px;
    width: 50vw;
    border: dotted black 10px;
    display:flex;
    flex-direction: column;
    justify-content: center;


}

#div_c{
    background-color: yellow;
    height: 50px;
    width: 30%;

}

#div_d{
    background-color: #ff8c00;
    height: 100px;
    width: 30%;
}

#div_e{
    background-color: rgb(0, 128, 0);
    color: white;
    font-size: 30px;
    padding: 50px;
    margin: 50px  0px 0px 50px; /*cima,direita,abaixo,esquerda*/
}